*{
    margin: 0%;
    padding: 0%;
}

a{
    color: black;
    decoration: none;
}
body{
    font-family: "freight-sans-pro";
}

.btn-outline-dark{
    border-radius: 20px;
}


h3{
    color : red;
    
}
p{
    margin-bottom: 2em;
    margin-top: 2em;
}
img{
    margin-top: 2em;
}
.nav-top{
    margin-top: 2em;
}
.nav-top-link:hover{
    color: black;
}
.font:hover{
    color:gray!important;
}

.footer:hover{
    color: gray;
}


.footer-btn{
    margin-top: 4em;
    margin-bottom: 4em;
}
.top-nav{
    margin-bottom: 3em;
    margin-top:2em;
}
.botom-nav{
    margin-bottom: 4em;
}