*{
    margin: 0%;
    padding: 0%;
}

a{
    color: black;
    decoration: none;
}

.font:hover{
    color:gray!important;
}
.btn-outline-dark{
    border-radius: 20px;
}
.head-nav:hover{
    color: black;
}
.footer-nav:hover{
    color: gray;
}
h1{
    color: red;
    margin-top: 1em;
    margin-bottom: 3em;
    
}
body{
    font-family: "freight-sans-pro";
}
.navbar-default{
    margin-top: 2em;
    margin-bottom: 5em;
}
.row{
    margin-top: 10em;
}
h3{
    color: red;
    margin-bottom: 2em;
}
.footer{
    margin-bottom: 10em;
}
.footer-btn{
    margin-bottom: 4em;
}
.heading{
    color: red;
}